:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


.Header {
  font-size: 1.5rem;
  padding: .8rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
}


.Home {
  padding: 1rem 2rem;
}

.Home .search-container {
  display: flex;
  justify-content: end;
  gap: 1rem;
}


.Home .podcasts-container {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: 1fr;
  grid-column-gap: 1.3rem;
  grid-row-gap: 8rem;
  justify-content: center;
  padding: 9rem 0;
}

.Home .podcast-presentation {
  border: 1px solid rgba(237, 235, 235, 0.9);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
  text-align: center;
  min-height: 180px;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  transition: all .7s ease;
}

.Home .podcast-presentation:hover {
  box-shadow: rgba(66, 66, 216, 0.326) 0px 1px 2px 2px;
}

.Home .podcast-presentation img {
  position: absolute;
  border-radius: 48%;
  top: -80px;
}

.Home .podcast-presentation-info {
  width: 80%;
  padding: .8rem 3px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

.Home .podcast-presentation-info p {
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  line-height: .3rem;
}

.Home .podcast-presentation-info span {
  color: grey;
}


.Podcast {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}

.Podcast a{
  text-decoration: none;
  color: inherit; 
}

.Podcast .podcastWrapper-container {
  flex: 1;
  border: 1px solid rgba(237, 235, 235, 0.9);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 400px;
}



.Podcast .podcastWrapper-container .line{
  border: 1px solid rgba(237, 235, 235, 0.9);
  width: 100%; 
}
.Podcast .basic-info{
  padding: 1rem .7rem; 
}
.Podcast .podcast-title{
  font-weight: 700;
  font-size: 1.15rem; 
}

.Podcast .podcast-author{
  color: rgba(0, 0, 0, 0.80); 
  display: block; 
}
.Podcast .description-title{
  font-weight: 700; 
  display: block; 
  padding: 0.5rem 0; 
}
.Podcast .podcast-description{
  padding: 1rem 0 ; 
}

.Podcast .description-summary{
  font-style: italic; 
}
.Podcast .episodes-container {
  flex: 1;
}

.Podcast .episodesCount-container {
  border: 1px solid rgba(237, 235, 235, 0.9);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
}

.Podcast .episodes-container .episodesCount-container {
  padding: .7rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.Podcast episodesList-container .table-body .table-row:nth-child(odd) {
  background-color: #F9F9F9;
  border: 1px 0 1px 0 rgba(237, 235, 235, 0.9);
}

.Podcast .image-container{
 text-align: center;
 padding-bottom: 1.15rem;
}


.Podcast .image-container img {
  min-width: 80%;
  object-fit: cover;
}

.Podcast .episodesList-container {
  border: 1px solid rgba(237, 235, 235, 0.9);
  padding: .7rem 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
  margin-top: 1rem;
}


.table-header .table-row, .table-body .table-row {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.084);
  padding: .7rem;
}

.Episode {
  border: 1px solid rgba(237, 235, 235, 0.9);
  padding: .7rem 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
  flex: 1;
}

.Episode audio {
  margin: 1rem 0;
  width: 100%; 
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}