:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black; 
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
width: 100%;  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0; 
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


.Header{
  font-size: 1.5rem; 
  padding: .8rem; 
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
}


.Home {
  padding: 1rem 2rem; 
}

.Home .search-container {
  display: flex; 
  justify-content: end;
  gap: 1rem; 
}


.Home .podcasts-container {
  display: grid; 
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: 1fr;
  grid-column-gap: 1.3rem; 
  grid-row-gap: 8rem; 
  justify-content: center;
  padding: 9rem 0 ; 
}

.Home .podcast-presentation{
  border: 1px solid rgba(237, 235, 235, 0.9);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 4px 1px;
  text-align: center;
  min-height: 180px;
  position: relative; 
  display: flex; 
  align-items: end;
  justify-content: center;
  transition: all .7s ease; 
}

.Home .podcast-presentation:hover{
  box-shadow:rgba(66, 66, 216, 0.326) 0px 1px 2px 2px ;
}

.Home .podcast-presentation img {
  position: absolute;
  border-radius: 48%;
  top: -80px;
}

.Home .podcast-presentation-info {
  width: 80%;
  padding: .8rem 3px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

.Home .podcast-presentation-info p {
  text-transform: uppercase;
  color: black; 
  font-weight: 600;
  line-height: .3rem;
}

.Home .podcast-presentation-info span{
  color: grey; 
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
